<%- include('partials/header') -%>
<section>
    <form action="" method="post">
        <input type="text" placeholder="Order Name"><br>
        <input type="text" placeholder="Size"><br>
        <input type="text" placeholder="Coffee choice">
    </form>
</section>
<%- include('partials/footer') -%>